{% extends 'base_dashboard.html' %}
{% load static %}

{% block fotoPerfilNav%}{{info_usuario.0.foto.url}}{%endblock%}
{% block MiPerfil%}{{user.email}}{%endblock%}
{% block nombreNav%}{{user.username}}{%endblock%}
{% block rolNav%}
    {%if info_usuario.0.rol == 'E' %}
        Estudiante
    {%elif info_usuario.0.rol == 'P' %}
        Profesor
    {%elif info_usuario.0.rol == 'A' %}
        Todo
    {%endif%}

{%endblock%}


{% block contenido %}

<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-sub-header">
                <h3 class="page-title">Archivos de la entradas</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Archivos de la entrada</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr>

{% for a in contenido_entrada.0.archivos %}
    <div class="row">
        <div class="col-1 col-md-1"></div>
        <div class="col-md-10 col-10">
            
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-2">
                            {% if a.extension == "jpg" or a.extension == "png" or a.extension == "jpeg" or a.extension == "gif" or a.extension == "jfif" or a.extension == "svg" or a.extension == "bmp" or a.extension == "tip" %}
                            <div class="col-auto">
                                <img src="/api{{a.url}}" class="imgpub" alt="File">
                            </div>
                            {% elif a.extension == "mp4" or a.extension == "wmv" or a.extension == "avi" or a.extension == "avchd"  or a.extension == "flv" or a.extension == "mkv" or a.extension == "webm" or a.extension == "f4v" or a.extension == "swf" or a.extension == "html5" %}
                            <div class="col-auto">
                                <video src="/api{{a.url}}" class="imgpub" controls></video>
                            </div>
                            {%else%}
                            <div class="col-auto">
                                <i class="fas fa-file fa-2x"></i>                                
                            </div>
                            
                            {%endif%}
                        </div>
                        <div class="col-7"><h5 class="card-title">Archivo: <p>{{a.nombre}}</p></h5></div>
                        <div class="col-3">
                            <a href="/api{{a.url}}" download class="btn btn-outline-primary me-2 "><i class="fas fa-download "></i> Download</a>
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
{%endfor%}



<style>
    .imgpub {
        max-width: 100px;
        height: 100px;
        object-fit: scale-down;
    }
</style>


<!--
{{contenido_entrada}}   -->



{%endblock%}


