{% extends 'base_dashboard.html' %}
{% load static %}

{% block fotoPerfilNav%}{{info_usuario.0.foto.url}}{%endblock%}
{% block MiPerfil%}{{user.email}}{%endblock%}
{% block nombreNav%}{{user.username}}{%endblock%}
{% block rolNav%}
{%if info_usuario.0.rol == 'E' %}
Estudiante
{%elif info_usuario.0.rol == 'P' %}
Profesor
{%elif info_usuario.0.rol == 'A' %}
Todo
{%endif%}

{%endblock%}


{% block contenido %}
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-sub-header">
                <h3 class="page-title">Student Details</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="students.html">Student</a></li>
                    <li class="breadcrumb-item active">Student Details</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="about-info">
                    <h4>Profile <span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h4>
                </div>
                <div class="student-profile-head">
                    <div class="profile-bg-img">
                        <img src="{% static 'assets/img/profile-bg.jpg' %}" alt="Profile">

                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="profile-user-box">
                                <div class="profile-user-img">
                                    <img src="/api{{json_response.0.foto.url}}" alt="Profile" style="width: 170px;height: 170px; object-fit: cover;">
                                    {%if user.email == json_response.0.id_profesor.0.correo%}
                                    <div class="form-group students-up-files profile-edit-icon mb-0">
                                        
                                        <div class="uplod d-flex">
                                                                                        
                                            <label class="file-upload profile-upbtn mb-0">
                                                <i class="feather-edit-3"></i><input type="file" accept="image/*" id="Myarchivo" oninput="cambiarFotoPerfilTutoria('{{id_tutoria}}')">
                                            </label>                                             
                                            
                                        </div>
                                       
                                    </div>
                                    {%endif%}
                                </div>
                                <!--
                                <div class="names-profiles">
                                    <h4>{{info_usuario.0.nombre}}</h4>
                                    {% if info_usuario.0.rol == 'E' %}
                                        <h5>Estudiante</h5>
                                    {% elif info_usuario.0.rol == 'P' %}
                                        <h5>Profesor</h5>
                                    {%endif%}
                                </div>
                            -->
                            </div>
                        </div>
                        
                        
                        <div class="col-lg-4 col-md-4 d-flex align-items-center">
                            <div class="follow-group">
                                <div class="students-follows">
                                    <h5>Tutoria: </h5>
                                    <h4>{{json_response.0.nombre}}</h4>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="col-lg-4 col-md-4 d-flex align-items-center">
                            <div class="follow-btn-group">
                                {%if user.email == info_usuario.0.correo%}
                                <button type="button" class="btn btn-primary mt-1" data-bs-toggle="modal" data-bs-target="#signup-modal">Editar</button>
                                {%endif%}
                            </div>
                        </div>
                    -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="student-personals-grp">
                    <div class="card">
                        <div class="card-body">
                            <div class="heading-detail">
                                <h4>Detalles :</h4>
                            </div>
                            <div class="personal-activity">
                                <div class="personal-icons">
                                    <i class="fa-graduation-cap"></i>
                                </div>
                                <div class="views-personal">
                                    <h4>Nombre</h4>
                                    <h5>{{json_response.0.nombre}}</h5>
                                </div>
                            </div>

                            <div class="personal-activity">
                                <div class="personal-icons">
                                    <i class="fa-graduation-cap"></i>
                                </div>
                                <div class="views-personal">
                                    <h4>Profesor</h4>
                                    
                                    <a href="/web/perfil/{{json_response.0.id_profesor.0.correo}}"><h5>{{json_response.0.id_profesor.0.nombre}}</h5></a>
                                </div>
                            </div>
                            <div class="personal-activity mb-0">
                                <div class="views-personal">
                                    <div class="follow-btn-group">
                                        {%if user.email == json_response.0.id_profesor.0.correo%}
                                        <button type="button" class="btn btn-primary mt-1" data-bs-toggle="modal" data-bs-target="#signup-modal">Editar</button>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="student-personals-grp">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="heading-detail">
                                <h4>Descripción</h4>
                            </div>
                            <div class="hello-park">
                                {{json_response.0.descripcion}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<div id="signup-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center mt-2 mb-4">
                    <div class="auth-logo">
                        <a href="#" class="logo logo-dark">
                            <span class="logo-lg">
                                <img src="{% static 'assets/img/logo.png'%}" alt="" height="42">
                            </span>
                        </a>
                    </div>
                </div>
                <form class="px-3" action="#">
                    <div class="mb-3">
                        <label  class="form-label">Nombre</label>
                        <input class="form-control" type="text" id="nombre" required="" value="{{json_response.0.nombre}}">
                    </div>
                    <div class="mb-3">
                        <label for="emailaddress" class="form-label">Descripción</label>
                        <textarea rows="5" cols="5" class="form-control" id="descripcion">{{json_response.0.descripcion}}</textarea>
                    </div>

                    
                    <div class="mb-3 text-center">
                        <button class="btn rounded-pill btn-warning" type="button" onclick="actualizarTutoriaPublicada('{{user.email}}','{{id_tutoria}}')">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--
{{json_response}}-->

<script  type="text/javascript" src="{% static '/js/utilidades.js' %}"></script>
<script src="{% static '/js/getTutoriaPublicada.js' %}"></script>
{%endblock%}